$clr-primary: #dc4066;
$clr-secondary : #FCBF49;
$clr-gray: #2B2B2B;
$clr-black: #151515;
$clr-white: #f2f2f2;

$ff-primary:"poppins",sans-serif;


$break-lg: 1250px;
$break-md: 870px;
$break-sm: 480px;
