// * {
//     outline: 1px solid red;
// }

.border-bottom-primary{
    border-bottom: 5px solid $clr-primary;
}
.border-top-primary{
    border-top: 20px solid $clr-primary;
}

.banner{
     h1{
        font-size: 3rem;
    }
    span{
        font-size: 2rem;
        color: #BBB5B5;
        font-weight: bold;
    }

    img{
        width: 375px;
        height: 445px;
    }

}
.Projects{
    .projectbanner{
        position: relative;
        h1{
            
            position: absolute;
            top: 40%;
            left: 55%;
            transform: translate(-90%, -85%);
        }
    }
        .image{
            display: block;
            width: 335px;
            height: 207px;
        }
        
    .build1{
        position: relative;
        width: 100;
        
    }

   
    .overlay {
        position: absolute;
        height: 207px;
        width: 335px;
        opacity: 0;
        transition: .5s ease;
        background-color:$clr-secondary ;
        border-radius: 25px;
        .specs p{
            margin-left: 3rem;
        }
    
    }
    
    .build1:hover .overlay{
        opacity: 1;
    }
    

    
}

.aboutpage{
    .aboutbanner{
        position: relative;
        h1{
            
            position: absolute;
            top: 40%;
            left: 55%;
            transform: translate(-78%, -85%);
        }
       
    }
        
       
}


.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px 45px;
    
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card__Content{
    padding: 4px 20px;
}

.card__Wrapper{
    gap: 20px;
    top: 30%;
    left: 45%;
     transform: translate(10%, 15%);
    
}
.card__Content{
    h3{
        font-weight: normal;
    }
}

.contacts{

    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 40%;


}
.horizontal{
    border-left: 3px solid $clr-white;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 20%;
   
}

.horizontal_line{
    border-left: 3px solid $clr-white;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 120%;
   
}
#fname{
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    height: 15px;
}
#email{
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    height: 15px;
}

#message{
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    height: 100px;
    
}


.button {
    background-color: $clr-white;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
    
  }




.services{
    padding: 6rem 0;
    color: $clr-gray;
    object-fit: cover;
    &__wrapper{
        @include grid(3, 2rem);
        @include mediaQuery(){
            @include grid(1, 2rem);
        }
    }
}


footer{
        padding: 3rem 0;
        
        ul li{
             margin: 1rem;
       }
       
    }

































// .section{
//     padding: 2rem 0;
//     color: $clr-gray;
    
// }
// .about{
//     padding: 6rem 0;
//     object-fit: cover;
//     &__wrapper{
//         gap: 50px;
//         @include mediaQuery(){
//             flex-direction: column;
//         }
//     }
// }
// .slider{
//     padding: 4rem 11rem;
//     color: $clr-gray;
//     &__wrapper{
//         @include grid(3,2rem);
//     }
// }
// #hr{
//     width:300px;
//     margin: auto;
//     border: 1px solid $clr-primary;
// }
// hr{
//     width:9rem;
//     margin: auto;
//     border: 1px solid $clr-gray;
// }
// 
// .slider h1{
//     text-align: center;
// }
// .testimonials{
//     text-align: center;
// }
// .testimonials  > *{
//     margin-bottom: 2rem;
// }

// .testimonials img{
//     width: 150px;
//     height: 150px;
//     border-radius: 50%;
//     object-fit: cover;
// }
// .testimonials ul{
//     list-style: none;
//     display: flex;
//     justify-content: center;
// }
// .testimonials ul li i{
//     color: yellow;
//     -webkit-text-stroke: 1px;
//     -webkit-text-stroke-color: black;
// }
// .tns-nav{
//     text-align: center;
//     margin-top: 4rem;
// }
// .tns-nav button{
//     margin-top: 20rem;
//     height: 15px;
//     width: 15px;
//     border-radius: 50%;
//     background-color: gray;
//     border: none;
//     margin: 0 8px;
// }

// .tns-nav .tns-nav-active{
//     background-color: $clr-primary;
// }
// .tns-controls{
//     position: relative;
// }
// .tns-controls button:first-child{
//     position: absolute;
//     top: 10rem;
//     background: none;
//     border: none;
//     z-index: 1;
//     font-size: 2rem;
//     color: gray;

// }
// .tns-controls button:last-child{
//     position: absolute;
//     right: 0;
//     background : none;
//     border: none;
//     z-index: 1;
//     font-size: 2rem;
//     color: gray;
//     top: 10rem;
// }
// .tns-controls button{
//     display: none;
// }

// .faq{
//     padding: 6rem 0;

// }
// .map{
//     padding: 6rem 0;
//     color: $clr-white;
//     object-fit: cover;
//     &__wrapper{
//         gap: 50px;
//         @include grid(3,2rem);
//         @include mediaQuery(){
//             flex-direction: column;
//             align-items: center;
            
//         }
//     }
//     .border-thin-primary{
//         border-bottom: 2px solid $clr-primary;
//         padding-bottom: 1rem;
//     }
    
    
// }